#todo,#calc,#wiki,#notebook{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 220px;
    height: 330px;
    background-color: white;
    display: none;
}

#display{
    float: left;
    width: 100%;
    background-color: rgb(34, 31, 31);
    font-size: 30px;
    line-height: 50px;
    height: 50px;
    padding: 0 4px;
    text-align: right;
    outline: none;
    color: white;
    overflow: hidden;
    overflow-x: scroll;
}

#display::-webkit-scrollbar{
    display: none;
}

.button{
    font-size: 22px;
    float: left;
    width: 55px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: darkgray;
    border: 1px solid gray;
    border-collapse: collapse;
    font-weight: bold;
    user-select: none;
}

.symbol{
    background-color: rgb(248, 150, 2);
    color: white;
}

.button:hover{
    background-color: #ccc;
    color: black;
}

@media (max-width: 600px){
    #calc{
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
    }
}
